.header {
  position: absolute;
  width: 100%;
}

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 56px;
}

.header__logo {
  display: flex;
  margin-right: 135px;
  width: 270px;
  height: 54px;
}

.header__navgiation {
  margin-right: 157px;
  width: 448px;
}

.navigation__list {
  display: flex;
  gap: 43px;
  font-size: 16px;
  line-height: 25px;
  color: $white-color;
  cursor: pointer;
  justify-content: space-between;

  .navigation__item {
    display: block;
    font-weight: 300;
    min-width: min-content;
  }

  .navigation__item:active {
    font-weight: 500;
    line-height: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
  }
}

.header__phone {
  display: flex;
  gap: 11px;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $white-color;
  max-width: 160px;

  .phone__icon {
    width: 24px;
    height: 24px;
    background-image: url("../assets/img/icons/phone.svg");
  }
}

.header__phone_hidden {
  display: none;
}

.header__burger {
  width: 64px;
  height: 64px;
  background-image: url("../assets/img/icons/burger.png");
}

.header__menu {
  position: absolute;
  background: #b7b799;
  max-width: 200px;
  padding: 10px;
  top: 90px;
  right: 86px;
  border-radius: 10px;

  .header__logo {
    display: flex;
    margin-right: 135px;
    width: 270px;
    height: 54px;
  }

  .header__navgiation {
    margin-bottom: 10px;
    width: 100%;
  }

  .navigation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    line-height: 25px;
    color: $white-color;
    cursor: pointer;
    justify-content: space-between;

    .navigation__item {
      display: block;
      font-weight: 300;
      min-width: min-content;
    }

    .navigation__item:active {
      font-weight: 500;
      line-height: 24px;
    }

    .header__phone {
      .phone__icon {
        display: none;
      }
    }
  }
}

@media (max-width: 1171px) {
  .header__navgiation {
    margin-right: 140px;
  }
}
@media (max-width: 1165px) {
  .header__wrapper {
    padding-top: 30px;
    justify-content: space-between;
  }

  .header__logo {
    margin: 0;
  }

  .header__navgiation {
    margin: 0;
    width: 448px;
  }

  .navigation__list {
    display: flex;
    gap: 43px;
    font-size: 16px;
    line-height: 25px;
    color: $white-color;
    cursor: pointer;
    justify-content: space-between;
  }
}

@media (max-width: 913px) {
  .header__wrapper {
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 100px;
    align-items: center;
    justify-content: center;
  }

  .header__phone {
    order: 1;
  }
  .header__navgiation {
    order: 2;
    width: 519px;
  }

  .navigation__list {
    display: flex;
    gap: 43px;
    font-size: 16px;
    line-height: 25px;
    color: $white-color;
    cursor: pointer;
    justify-content: space-between;
  }
}


@media (max-width: 448px) {
  .header__wrapper {
    justify-content: space-between;
    gap: 0;
  }
}

@media (max-width: 400px) {
 .header__logo {
  width: 218px;
  height: 46px;
 }
}